/* Estilos Generales */
html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #272727;
}

.container{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.codigo{
	width: 100%;
	padding: 20px;
}

h2{
	font-family: 'Raleway', sans-serif;
	font-size: xx-large;
	font-weight: 700;
	color: #BBBBBB;
	text-align: center;
}

.envio{
	padding: 0px;
}

input{
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
	box-sizing: border-box;
	font-size: 16px;
}

p{
	font-family: 'Raleway', sans-serif;
	color: #BBBBBB;
	font-size: small;
	font-weight: 200;
	text-align: center;
	margin: 0px;
}


